<h1>{{ title }}</h1>
{{#if success_msg}}
<div class="alert alert-success" role="alert">
    {{ success_msg }}
</div>
{{else}}
{{#if errors}}
<div class="alert alert-danger" role="alert">
    <ul>
        {{#each errors}}
        <li>{{ this.msg }}</li>
        {{/each}}

    </ul>
</div>
{{/if}}
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger" role="alert">
    <ul>
        {{ error_msg }}
    </ul>
</div>
{{/if}}

<form method="POST" action="/loginValidation" class="register clearfix">
    <input class="input" type="password" placeholder="Password" name="password">
    <input class="input" type="text"  name="username" placeholder="Username">
    <a href="">Forgot password?</a>
    <button type="submit" class="btn shallow fill">Submit</button>
</form>